@import "components/home";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
*{
  box-sizing: border-box;
  
}

body{

	display: flex;
	flex-direction: column;
	align-items: center;
    background-image: url("https://pixabay.com/get/ef3cb10d21f71c22d9584518a33219c8b66ae3d01db9154095f2c57e/sky-690293_1920.jpg");
    h1{
    	color: white;
    	font-family: 'Baloo Thambi', cursive;
    }

    #search_txt{
    	margin-bottom: 20px;
    }
	#app{
		background-color: white;
		-webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
        font-size: 15px;
        line-height: 12px;
        font-family: 'Abril Fatface', cursive;
        	#mapid { 
		height: 300px;
		width: 400px; 
		border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
        margin-bottom: 20px;
	}
	}
            #icones{
                height: 20%;
                width: 20%;
            	position: relative;
            	float: right;
            	margin-right: 50px;
            	margin-top: 50px;

            }
}
